<head>
    <title>JPE Project Panel</title>
##    <meta name="decorator" content="jpext">
    $webResourceManager.requireResourcesForContext("jpext")
</head>
<body>
    <div id="project-panel-heading">
        <h2>Welcome to JPE Project Panel</h2>
    </div>

    <div class="aui-message aui-message-info">
        <p class="title">
            <strong>Info!</strong>
        </p>
        <p>And this is just content in a Default message.</p>
    </div>
    <div id="jpext-issue-select-container"></div>
</body>